
body {
  background: linear-gradient(45deg, #2c3e50, #99c9e9); /* Dark Blue to Sky Blue Gradient */
  color: #b4bdbf; /* Light Gray Text Color */
  font-family: 'Arial', sans-serif;
  margin: 0;
  /* width: 100%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card {
  background-color: #c0d2d6;
  border-radius: 10px;
  box-shadow: 0 14px 18px rgba(5, 32, 154, 0.1);
  overflow: hidden;
  width: 300px;
  max-width: 100%;
  margin: 20px;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.info {
  color: #333;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  margin: 0px;
  border-radius: 0px;

  }
}
